<h1></h1>
<div class="row">
  <div class="span6 offset3">
   
	<%= form_tag updatepassword_employees_path, multipart: true do %>
 
    <h5>Type the new password for SMS:</h5>
 	 <%= text_field_tag :pass %>
    <%= submit_tag "Submit", class: "btn btn-large btn-primary"  %>

    <% end %>
  </div>
</div>