<% provide(:title, 'All users') %>
<h1>Our People</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>

<% if signed_in? %>
  <%= link_to "Add a new user!", signup_path, class: "btn btn-large btn-primary" %>
<% end %>