<footer class="footer">

   <%= image_tag "tagline.png" %>

	<ul class="nav">
        <li class="nav-contact-us"><a href="https://pg.com/en_US/contact_us/index.shtml">Contact Us</a></li>
        <li class="nav-legal"><a href="https://www.pg.com/privacy/english/privacy_notice.html">Privacy Notice</a></li>
        <li class="nav-oba"><a href="https://www.pg.com/en_US/privacy/en_na/oba_notice.shtml">About</a> </li>
      </ul>

  <p class="copyright">© 2013 Procter &amp; Gamble Egypt. </p>

</footer>